# Kaggle credentials
KAGGLE_USERNAME=sopogurjishvili
KAGGLE_KEY=KGAT_24ca4547af91ce1ce1f7482225073546

# MLflow on DagsHub
MLFLOW_TRACKING_URI=https://dagshub.com/sophyrise/walmart-sales-forecasting.mlflow
MLFLOW_TRACKING_USERNAME=sophyrise
MLFLOW_TRACKING_PASSWORD=488c6dfa068036426dcd2402d4c82f33b6c71717

# DVC (optional)
DVC_REMOTE=local
